@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <tbody>
            <tr>
                <td><a href="https://localhost:7149/polling/index?userId=1">Polling</a></td>
            </tr>
            <tr>
                <td><a href="https://localhost:7149/accounts/index?userId=1">Accounts</a></td>
            </tr>
        </tbody>
    </table>
</div>
