@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="~/js/Home.js" asp-append-version="true"></script>
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Сметка</th>
                <th scope="col">Баланс</th>
                <th scope="col">Обнови</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: listOfAccounts">
            <tr>
                <th scope="row"><span data-bind="text: accountId"></span></th>
                <td><span data-bind="text: iban"></span></td>
                <td>
                    <span data-bind="text: balance"></span>
                    <span>лв</span>
                </td>
                <td><button class="btn btn-primary" data-bind="click: $root.getBalance">Обнови</button></td>
                <td> <div class="spinner-border text-success" role="status" data-bind="visible: loading" /></td>
            </tr>
        </tbody>
    </table>
</div>
