@using SignalRDemo.Models.ViewModels
@model List<AccountViewModel>;

@{
    ViewData["Title"] = "Polling";
}

@section scripts {
    <script src="~/js/Polling.js" asp-append-version="true"></script>
}

<div>
    <div class="page">
        <div>
            <div class="c-1 details" data-bind="foreach: listOfAccounts">
                <div class="block">
                    <h3 class="">
                        Преглед на <img class="icon" src="~/img/credit-card-arrow-right-svgrepo-com.svg" alt="srv" />
                        <strong><span class="card-number" data-bind="text: iban"></span></strong>
                    </h3>
                    <hr />

                    <div class="details-list">
                        <div class="detail-item">
                            <h4>Баланс</h4>
                            <div class="amt">
                                <span class="amt-integer" data-bind="text: balance"></span>.<span class="amt-decimal">00</span><span class="amt-ccy">лв.</span>
                            </div>
                        </div>
                        <div class="detail-item">
                            <h4>Валидна до</h4>
                            <span class="date" data-bind="text: validDate"></span>
                        </div>
                        <div class="detail-item">
                            <h4>Тип</h4>
                            <div class="logo"><img src="~/img/visa-logo-2.svg" alt="" /></div>
                        </div>
                        <div class="detail-item">
                            <h4>Статус</h4>
                            <strong>Активна</strong>
                        </div>
                        <div class="detail-item">
                            <button class="btn" data-bind="click: $root.getBalance">Обнови</button>
                        </div>
                    </div>

                    <hr />

                    <div class="lds-ellipsis" data-bind="visible: loading"><div></div><div></div><div></div><div></div></div>
                </div>
                <br />
            </div>
        </div>

    </div>

</div>