@{
    ViewData["Title"] = "Accounts Page";
}

@section scripts {
    <script src="~/js/Accounts.js" asp-append-version="true"></script>
}

<div>
    <div class="page">
        <div class="page-heading">
            <h1>Преглед на карти</h1>
        </div>

        <div class="page-content">
            <div class="c-1 flex-column">
                <div class="block text-center">
                    <h4 class="">Общ баланс</h4>
                    <div class="amt">
                        <span class="amt-integer" data-bind="text: totalBalance"></span>.<span class="amt-decimal">00</span><span class="amt-ccy">лв.</span>
                    </div>
                </div>

                <div class="cards-list">
                    <div class="cards-list-title">
                        <h3>Карти</h3>
                    </div>
                    <div class="cards" data-bind="foreach: listOfAccounts">
                        <div class="card" data-bind="click: $root.selectCard, class: onSelectClass">
                            <h4 class="card-detail">Баланс</h4>
                            <div class="amt">
                                <span class="amt-integer" data-bind="text: balance"></span>.<span class="amt-decimal">00</span><span class="amt-ccy">лв.</span>
                            </div>
                            <div class="card-number" data-bind="text: iban">
                            </div>
                            <div class="card-valid card-detail">
                                <h4 class="text-uppercase">Валидна до</h4>
                                <span class="date" data-bind="text: validDate"></span>
                            </div>
                            <div class="logo wireless"><img src="~/img/contactless-payment.svg" alt="" /></div>
                            <div class="logo card-type"><img src="~/img/visa-logo-2.svg" alt="" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="c-2 details" data-bind="with: selectedCard">
                <div class="block">
                    <h3 class="">Преглед на <img class="icon" src="~/img/credit-card-arrow-right-svgrepo-com.svg" alt="srv" />
                        <strong><span class="card-number" data-bind="text: iban"></span></strong>
                    </h3>
                    <hr/>

                    <div class="details-list">
                        <div class="detail-item">
                            <h4>Баланс</h4>
                            <div class="amt">
                                <span class="amt-integer" data-bind="text: balance"></span>.<span class="amt-decimal">00</span><span class="amt-ccy">лв.</span>
                            </div>
                        </div>
                        <div class ="detail-item">
                            <h4>Валидна до</h4>
                            <span class="date" data-bind="text: validDate"></span>
                        </div>
                        <div class="detail-item">
                            <h4>Тип</h4>
                            <div class="logo"><img src="~/img/visa-logo-2.svg" alt="" /></div>
                        </div>
                        <div class="detail-item">
                            <h4>Статус</h4>
                            <strong>Активна</strong>
                        </div>
                        <div class="detail-item">
                            <button class="btn" data-bind="click: $root.makePayment">Плати</button>
                        </div>
                    </div>

                    <hr/>

                    <div class="lds-ellipsis" data-bind="visible: loading"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>

    </div>

</div>
