<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalRDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SignalRDemo.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="menu">
        <nav class="text-white">
            <div class="text-center">
                <a class="menu-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>SignalR</strong>Demo</a>
            </div>
            <div class="links flex-column">
                <a href="https://localhost:7149/polling/index?userId=1"><img src="~/img/server-svgrepo-com.svg" alt="srv" /> Polling</a>
                <a href="https://localhost:7149/accounts/index?userId=1"><img src="~/img/credit-card-arrow-right-svgrepo-com.svg" alt="srv" /> Cards</a>
            </div>
        </nav>
    </div>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SignalRDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
